<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Ebook Downloader</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
		<!-- Styles -->
		<link rel="stylesheet" type="text/css" href="css/style.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body ng-app="ebookDownloader">
		<div id="wrapper">
			<div class="jumbotron">
				<div class="container">
					<h3><a href="./">Programming Books Downloader</a></h3>
				</div>
			</div>

			<div ng-controller="bookController" class="container">
				<div class="col-sm-4">

					<form ng-submit="search()" method="POST" class="form-inline" role="form">
				
						<div class="form-group">
							<label class="sr-only" for="searchField">Search ebooks</label>
							<input type="text" class="form-control" id="searchField" ng-model="searchQuery" placeholder="Search ebooks">
						</div>
					
						<input type="submit" class="btn btn-primary" value="Search" />
					</form>

					<br />

					<div ng-show="searchResult.Total > 0" class="list-group">
						<a ng-repeat="book in searchResult.Books" href="#" ng-click="showDetails(book.ID)" class="list-group-item">
							<img ng-src="{{ book.Image }}" style="height:35px;" />
							<b>{{ book.Title }}</b>
						</a>
					</div>
				</div>

				<div class="col-sm-8">
					<div id="bookDetail" ng-show="selectedBook.ID">
						<h2>{{ selectedBook.Title }} by {{ selectedBook.Author }}</h2>
						<p><i>{{ selectedBook.SubTitle }}</i></p>
						
						<div class="col-sm-6"><img ng-src="{{ selectedBook.Image }}" /></div>
						<div class="col-sm-6">
							<br />
							<a href="{{ selectedBook.Download }}" target="_blank" class="btn btn-warning">Download</a>
						</div>
						<div class="clearfix"></div>

						<br />
						<p>
							<b>ISBN:</b> {{ selectedBook.ISBN }}
							<b>Publisher:</b> {{ selectedBook.Publisher }}
							<b>Pages:</b> {{ selectedBook.Page }}
							<b>Year:</b> {{ selectedBook.Year }}

						</p>
						<p>{{ selectedBook.Description }}</p>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>

			<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
				<div class="container">
					<ul class="nav navbar-nav">
						<li>
							<a href="mailto:raihan.dk@gmail.com">Copyright &copy; 2016 Raihan</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>

		<!-- jQuery -->
		<script src="node_modules/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- AngularJS -->
		<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-resource/angular-resource.min.js"></script>
		<!-- scripts -->
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/controllers.js"></script>
		<script type="text/javascript" src="js/services.js"></script>
	</body>
</html>